.contact, .portofolio, .resume, header {
  padding: 0 1rem;
}

.resume-element p:last-of-type, .what-col-element .what-col-text p, .about-me-container-col:first-child p {
  font-weight: 400;
  color: #414141af;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}
@media (min-width: 1024px) {
  body {
    grid-template-columns: 220px 1fr;
    grid-template-areas: "header main" "header footer";
    grid-gap: 0;
  }
}
body .active {
  color: #2cc082;
}

header {
  z-index: 999;
  grid-area: header;
  height: 70px;
  background-color: #212529;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid rgba(255, 255, 255, 0.258);
}
header img {
  display: none;
}
header a {
  text-decoration: none;
}
header a h3 {
  transition: 0.3s all;
  color: whitesmoke;
  font-size: 1.4rem;
}
header a:hover h3 {
  color: #2cc082;
}
header .close-btn {
  cursor: pointer;
  width: 35px;
  display: none;
}
header .close-btn .line1 {
  transition: 0.3s all;
}
header .close-btn .line2 {
  transition: 0.3s all;
}
header .close-btn:hover .line1 {
  stroke: #2cc082;
}
header .close-btn:hover .line2 {
  stroke: #2cc082;
}
header .toggle {
  cursor: pointer;
  width: 35px;
  transition: 0.3s all;
}
header .toggle:hover {
  fill: #2cc082;
}
@media (min-width: 768px) {
  header a h3 {
    font-size: 1.6rem;
  }
  header .toggle {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  header {
    position: fixed;
    width: 220px;
    height: 100%;
    flex-direction: column;
  }
  header .entity {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .entity a {
    margin-top: 0.7rem;
  }
  header .entity a h3 {
    font-size: 1.4rem;
  }
  header img {
    width: 100%;
    display: block;
    border-radius: 60%;
    border: 7px solid rgba(161, 161, 161, 0.645);
  }
  header a {
    display: block;
  }
  header .toggle {
    display: none !important;
  }
}

main {
  color: rgba(41, 41, 41, 0.87);
  grid-area: main;
}

footer {
  height: 130px;
  background-color: #212529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}
footer p {
  text-align: center;
  font-size: 1rem;
  color: white;
}
footer p a {
  color: #2cc082;
  text-decoration: none;
}
footer p a:hover {
  color: #1f7e56;
}

nav {
  display: none;
  text-align: center;
}
@media (min-width: 1024px) {
  nav {
    display: block;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    transition: 0.3s all;
  }
  nav a:hover {
    color: #2cc082;
  }
}

.toggle-nav {
  z-index: 2;
  margin-top: 55px;
  background-color: #212529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  border-radius: 0 0 20px 20px;
  padding: 0.5rem;
  padding-top: 1rem;
}
.toggle-nav a {
  color: white;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s all;
}
.toggle-nav .active {
  color: #2cc082;
}
.toggle-nav a:hover {
  color: #2cc082;
}

.icons a i {
  color: white;
  font-size: 1.2rem;
  padding: 0 0.4rem;
  transition: 0.3s all;
}
.icons a:hover i {
  color: #2cc082;
}
@media (min-width: 768px) {
  .icons a i {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .icons {
    display: flex;
    margin-bottom: 0.7rem;
  }
}

.hero {
  width: 100%;
  height: 110vh;
  background-image: url(/img/compute.jpg);
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.hero h2 {
  font-weight: 400;
}
.hero h1 {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  font-size: 2.3rem;
  font-weight: 500;
}
.hero p {
  font-size: 1.2rem;
}
.hero a {
  display: inline-block;
  margin-top: 2rem;
  border: 2px solid #2cc082;
  border-radius: 40px;
  padding: 1rem 3rem;
  color: #2cc082;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
.hero a:hover {
  transition: all 0.4s;
  background-color: #2cc082;
  color: white;
}
@media (min-width: 768px) {
  .hero h2 {
    font-size: 2rem;
  }
  .hero h1 {
    font-size: 3.4rem;
  }
  .hero p {
    font-size: 1.4rem;
  }
  .hero a {
    font-size: 1rem;
    font-weight: 400;
  }
}

.page-title {
  position: relative;
  text-align: center;
  margin: 3rem 0;
}
.page-title h2 {
  font-size: 4rem;
  font-weight: bold;
  color: rgba(236, 236, 236, 0.645);
}
.page-title p {
  margin: auto;
  color: rgba(41, 41, 41, 0.87);
  font-size: 2.3rem;
  font-weight: bold;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-title .separator {
  width: 25%;
  margin: -12px auto 0 auto;
  border-bottom: 3px solid #2cc082;
}
@media (min-width: 768px) {
  .page-title h2 {
    font-size: 6rem;
  }
  .page-title p {
    font-size: 3rem;
    top: 27%;
  }
  .page-title .separator {
    margin: -16px auto 0 auto;
  }
}

.about-me {
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .about-me {
    max-width: 1300px;
    margin: auto;
  }
}

.about-me-container-row {
  display: grid;
  padding: 0 1.5rem;
}
@media (min-width: 1024px) {
  .about-me-container-row {
    grid-template-columns: 60% 40%;
  }
}

.about-me-container-col:first-child {
  text-align: center;
  margin-bottom: 3rem;
}
.about-me-container-col:first-child h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}
.about-me-container-col:first-child h2 span {
  color: #2cc082;
  font-weight: 600;
}
.about-me-container-col:first-child p:last-of-type {
  margin-top: 0.7rem;
}
@media (min-width: 768px) {
  .about-me-container-col:first-child h2 {
    font-size: 2rem;
  }
  .about-me-container-col:first-child span {
    font-size: 2rem;
  }
  .about-me-container-col:first-child p {
    text-align: justify;
    padding: 0 2rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .about-me-container-col:first-child {
    margin-right: 1.5rem;
  }
  .about-me-container-col:first-child h2 {
    text-align: start;
  }
  .about-me-container-col:first-child p {
    padding: 0;
  }
}

.about-me-container-col:last-of-type {
  border: 1px solid #2cc082;
  box-shadow: 0px 5px 4px 0px rgba(44, 192, 130, 0.1);
  padding: 1.5rem;
  border-radius: 5px;
}
.about-me-container-col:last-of-type p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.about-me-container-col:last-of-type p span {
  font-weight: bold;
}
.about-me-container-col:last-of-type p .email {
  font-weight: normal;
  color: #2cc082;
}
.about-me-container-col:last-of-type hr {
  display: block;
  margin-bottom: 0.8rem;
  border-color: rgba(236, 236, 236, 0.645);
}
.about-me-container-col:last-of-type a {
  font-size: 1.2rem;
  margin-top: 1rem;
  display: block;
  width: 100%;
  background-color: #2cc082;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 7px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .about-me-container-col:last-of-type {
    width: 70%;
    margin: auto;
  }
  .about-me-container-col:last-of-type p {
    font-size: 1.2rem;
  }
  .about-me-container-col:last-of-type a {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .about-me-container-col:last-of-type {
    width: 100%;
  }
}

.about-me-container-col:last-of-type:hover {
  transition: 0.3s all;
  background-color: #2cc082;
  color: white;
}
.about-me-container-col:last-of-type:hover span {
  color: white;
}
.about-me-container-col:last-of-type:hover a {
  background-color: white;
  color: black;
}
.about-me-container-col:last-of-type:hover a i {
  color: black;
}
.about-me-container-col:last-of-type:hover a:hover {
  background-color: #1f7e56;
  color: white;
}
.about-me-container-col:last-of-type:hover a:hover i {
  color: white;
}

.about-me-numbers {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  grid-column-gap: 0;
  padding: 0 1.5rem;
  justify-items: center;
}
@media (min-width: 768px) {
  .about-me-numbers {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1024px) {
  .about-me-numbers {
    padding: 0 1.5rem;
    margin-bottom: 6rem;
  }
}

.about-me-numbers-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 95px;
  min-width: 135px;
  border-bottom: 1px solid #2cc082;
  border-right: 1px solid #2cc082;
  border-radius: 5px;
  padding: 0 0.5rem;
  box-shadow: 0px 5px 4px 0px rgba(44, 192, 130, 0.1);
}
.about-me-numbers-box h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.about-me-numbers-box p {
  margin-bottom: 0.5rem;
}
@media (min-width: 425px) {
  .about-me-numbers-box {
    height: 140px;
    min-width: 180px;
    justify-self: center;
  }
  .about-me-numbers-box h1 {
    font-size: 2rem;
  }
  .about-me-numbers-box p {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .about-me-numbers-box h1 {
    font-size: 2.5rem;
  }
  .about-me-numbers-box p {
    font-size: 1.2rem;
  }
}

.what {
  padding-top: 0.2rem;
  background-color: rgba(48, 236, 158, 0.041);
  margin-bottom: 3rem;
}
@media (min-width: 425px) {
  .what {
    margin: 0 1rem 3rem 1rem;
  }
}
@media (min-width: 768px) {
  .what {
    margin: 0 1.5rem 3rem 1.5rem;
  }
}
@media (min-width: 1024px) {
  .what {
    max-width: 1300px;
    margin: 0 auto 3rem auto;
  }
}

.what-row {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .what-row {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
}

.what-col {
  display: grid;
  grid-template-columns: 1fr;
}

.what-col-element {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
  height: 155px;
  padding-right: 1rem;
  padding-left: 1rem;
}
.what-col-element .icon {
  margin-right: 1.5rem;
}
.what-col-element .icon img {
  width: 60px;
}
.what-col-element .what-col-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .what-col-element {
    height: 150px;
  }
  .what-col-element .what-col-text h4 {
    font-size: 1.7rem;
  }
  .what-col-element .what-col-text p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .what-col-element {
    height: 150px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .what-col-element .what-col-text p {
    text-align: justify;
  }
}

@media (min-width: 768px) {
  .resume {
    margin: 0 1.5rem;
  }
}
@media (min-width: 1024px) {
  .resume {
    padding: 0 2rem;
    max-width: 1365px;
    margin: auto;
  }
}

.resume-row {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .resume-row {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    align-items: center;
  }
}

.resume-col h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.resume-col .exp {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .resume-col .exp {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.resume-element {
  border: 1px solid rgba(236, 236, 236, 0.645);
  border-radius: 5px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 5px 4px 0px rgba(44, 192, 130, 0.1);
}
.resume-element p {
  display: inline-block;
  padding: 3px 0.5rem;
  border-radius: 5px;
  color: white;
  background-color: #2cc082;
  margin-bottom: 1rem;
}
.resume-element .resume-element-span {
  font-weight: 500;
}
.resume-element h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.resume-element h5 {
  font-size: 1.3rem;
  font-weight: 400;
  color: red;
  margin-bottom: 1rem;
}
.resume-element p:last-of-type {
  padding: 0;
  color: black;
  background-color: white;
}
@media (min-width: 768px) {
  .resume-element {
    height: 250px;
    width: auto;
  }
  .resume-element p {
    font-size: 1.1rem;
  }
  .resume-element h4 {
    font-size: 1.7rem;
  }
  .resume-element h5 {
    font-size: 1.4rem;
  }
  .resume-element p:last-of-type {
    font-size: 1.2rem;
  }
}

.resume-skills h3 {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.resume-skills a {
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  display: block;
  width: 90%;
  text-align: center;
  color: #2cc082;
  border: 1px solid #2cc082 !important;
  border-radius: 5px;
  padding: 0.6rem 0;
  margin: 1.5rem auto 0 auto;
  text-decoration: none;
  font-size: 1.3rem;
}
.resume-skills a:hover {
  transition: 0.4s all;
  background-color: #2cc082;
  color: white;
}
@media (min-width: 425px) {
  .resume-skills a {
    width: 60%;
    display: table;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .resume-skills h3 {
    font-size: 2rem;
  }
  .resume-skills a {
    width: 40%;
    border: 2px solid #2cc082;
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .resume-skills a {
    width: 35%;
    border: 2px solid #2cc082;
    font-size: 1.3rem;
  }
}

.resume-skills-row {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .resume-skills-row {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
  }
}

.skill-element .skill-line {
  height: 10px;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(236, 236, 236, 0.645);
  margin: 1rem 0;
}
.skill-element .skill-line-color {
  border-radius: 20px;
  height: 10px;
  background-color: #2cc082;
}

.skill-title {
  display: flex;
  justify-content: space-between;
}
.skill-title p {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .skill-title p {
    font-size: 1.3rem;
  }
}

.portofolio h3 {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media (min-width: 425px) {
  .portofolio h3 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .portofolio h3 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1024px) {
  .portofolio {
    padding: 0 2rem;
    max-width: 1300px;
    margin: auto;
  }
}

.portofolio-row {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
@media (min-width: 768px) {
  .portofolio-row {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .portofolio-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.portofolio-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #2cc082;
  border-right: 1px solid #2cc082;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.portofolio-element h4 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.portofolio-element a {
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  display: block;
  text-align: center;
  color: white;
  background-color: #2cc082;
  border-radius: 5px;
  padding: 0.4rem 0;
  width: 70%;
  margin: 1rem auto 1.5rem auto;
  text-decoration: none;
  font-size: 1.1rem;
}
.portofolio-element a:hover {
  transition: 0.4s all;
  background-color: #1f7e56;
  color: white;
}
@media (min-width: 425px) {
  .portofolio-element a {
    padding: 0.7rem 0;
    width: 50%;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .portofolio-element a {
    width: 50%;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .portofolio-element a {
    width: 70%;
    text-align: center;
  }
}

.portofolio-img-container {
  height: auto;
  width: 100%;
}
.portofolio-img-container img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.contact {
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .contact {
    padding: 0 2rem;
    max-width: 1300px;
    margin: 0 auto 3rem auto;
  }
}

.contact-data {
  grid-area: data;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-data h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.contact-data p {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}
.contact-data .follow {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .contact-data {
    margin-left: 1.5rem;
    display: inline-block;
  }
  .contact-data h3 {
    text-align: start;
    margin-bottom: 3rem;
  }
  .contact-data p {
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .contact-data {
    padding-right: 1rem;
  }
}

.contact-data-icons {
  text-align: center;
}
.contact-data-icons i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  color: #2cc082;
}
.contact-data-icons p {
  padding: 1rem 0;
  font-size: 1.3rem;
  text-align: center;
  display: inline-block;
}
.contact-data-icons p:last-of-type {
  padding-top: 0;
}
.contact-data-icons .contact-email {
  color: #2cc082;
}
@media (min-width: 768px) {
  .contact-data-icons {
    text-align: start;
  }
}

.contact-data-follow i {
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 0.6rem;
  color: gray;
}
.contact-data-follow i:hover {
  transition: 0.3s all;
  color: #2cc082;
}

.contact-form {
  grid-area: form;
}
.contact-form h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.contact-form form input {
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.contact-form form input:focus {
  outline: none;
  border: 1px solid #2cc082;
}
.contact-form form textarea {
  resize: none;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  border: 1px solid #e0e0e0;
  font-size: 1.3rem;
  padding: 0.8rem 0.8rem 0 0.8rem;
}
.contact-form form textarea:focus {
  border: 1px solid #2cc082;
  outline: none;
}
.contact-form form button {
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  display: block;
  text-align: center;
  color: #2cc082;
  border: 1px solid #2cc082;
  border-radius: 5px;
  padding: 0.6rem 0;
  width: 100%;
  margin: 0.7rem auto 1rem auto;
  text-decoration: none;
  font-size: 1.3rem;
  background-color: white;
  cursor: pointer;
}
.contact-form form button:hover {
  transition: 0.4s all;
  background-color: #2cc082;
  color: white;
}
@media (min-width: 768px) {
  .contact-form h3 {
    text-align: start;
  }
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "form" "data";
}
@media (min-width: 768px) {
  .contact-container {
    grid-template-columns: 40% 60%;
    grid-template-areas: "data form";
  }
}
@media (min-width: 1024px) {
  .contact-container {
    grid-template-columns: 35% 65%;
  }
}

/*# sourceMappingURL=style.css.map */
