$breakpoints:('sm':425px , 'md':768px ,'lg':1024px);

 //colors
 $primary: rgb(44, 192, 130);
 $grey:  rgba(236, 236, 236, 0.645);
 $hover: rgb(31, 126, 86);
 $b: rgba(41, 41, 41, 0.87);
 $page: rgba(48, 236, 158, 0.041);
 $dark:#212529;