.contact-container{
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas: "form" "data";


    @include mq('md'){
        grid-template-columns: 40% 60%;
        grid-template-areas: "data form";
        
    }

    @include mq('lg'){
        grid-template-columns: 35% 65%;
    }
    
}