.portofolio{
    @extend %side;


    h3{
        text-align: center;
        font-size: 1.7rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    
    @include mq('sm'){

        h3{
            font-size: 2rem;
        }
    }

    @include mq('md'){
        h3{
            font-size: 2.2rem;
        }
    }
    @include mq('lg'){
        padding: 0 2rem;
        max-width: 1300px;
        margin: auto;
    }

}