*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

body{
    display: grid;

    grid-template-areas: "header" "main" "footer";
    @include mq('lg'){

        grid-template-columns: 220px 1fr;
        grid-template-areas: 
        "header main"
        "header footer";
        grid-gap: 0;
  }

  .active{
        color: $primary;
    }
}
